name: Format check

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    name: Format Check
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
      - name: Prettier
        working-directory: ./frontend
        run: |
          npm ci
          npm run lint
  gofmt:
    runs-on: ubuntu-latest
    name: Gofmt Check
    steps:
      - uses: Jerome1337/gofmt-action@v1.0.5
        with:
          gofmt-path: './backend'
          gofmt-flags: '-l -d' 
